/*h1, h2 {*/
/*    margin:0px;*/
/*    display: inline-block;*/
/*    padding:1em;*/
/*    vertical-align: top;*/
/*    font-family: georgia;*/
/*    font-size: 28px;*/
/*    line-height: 28px;*/
/*}*/


/*h2 {*/
/*  text-align:right;*/
/*  padding-right:2em;*/
/*  float:right;*/
/*}*/

/*body {*/
/*    background-color: #CC6699;*/
/*    font-family: sans-serif;*/
/*    color: #CCFFFF;*/
/*    border: 3px solid #A9A9A9;*/
/*    margin-top: 20px;*/
/*    padding: 30px;*/
/*}*/

/*nav ul {*/
/*  list-style-type: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  overflow: hidden;*/
/*  background-color: #A9A9A9;*/
/*}*/

/*nav ul li {*/
/*  display: inline-block;*/
/*  padding: 0 7px;*/
/*  float: left;*/

/*}*/

/*nav ul li a {*/
/*  display: block;*/
/*  text-align: center;*/
/*  padding: 14px 16px;*/
/*  text-decoration: none;*/
/*  color: #CCFFFF;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
}

body{
	/*background: linear-gradient(*/
	/*	60deg,*/
	/*	#b99195 0%,*/
	/*	#e0a9b2 25%,*/
	/*	#f1a7b1 50%,*/
	/*	#da9ea6 75%,*/
	/*	#b99195 100%);*/
	background: #e2bdc6;
	color: #545454;
}

/*Navbar*/
.navbar{
	width: 100%;
	height: 70px;
	background: #232323;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 1rem;
}

.navbar .inner_navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.navbar .hamburger{
	display: none;
}

.navbar .logo a{
	font-weight: 700;
	font-size: 22px;
	letter-spacing: 2px;
	color: #dedede;
}

.navbar .menu ul{
	display: flex;
}

.navbar .menu ul li a{
	width: 8rem;
	margin: 5px 5px;
	display: block;
	text-align: center;
	padding: 10px 1px;
	border-radius: 25px;
	color: #dedede;
	text-transform: uppercase;
	font-size: 0.72rem;
	transition: all 0.2s ease;
}



.navbar .menu ul li a:hover,
.navbar .menu ul li a.active{
	background: #e2bdc6;
}



.dropdown {
  	position: relative;
}

.dropdown_content {
  	display: none;
  	position: absolute;
  	z-index: 1;
	background: #232323;
	height: auto;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}


.dropdown:hover .dropdown_content {
  	display: block;
}

/*.main_container ul li a  {*/
/*    width: 250px;*/
/*    align-content: center;*/
/*	display: flex;*/
/*	background: rgb(238, 238, 238);*/
/*	line-height: 20px;*/
/*	text-align: start;*/
/*	color: #090f1b;*/
/*	text-transform: uppercase;*/
/*	font-size: 16px;*/
/*	letter-spacing: 1px;*/
/*	transition: all 0.3s ease;*/

/*}*/



.main_container{
    display: block;
    align-items: center;
    margin: 100px auto;
    text-align: center;
}

/* about_us */

.container_about_us{
  	/*display: grid;*/
  	/*grid-template-columns: repeat(2, 3fr);*/
  	/*grid-gap: 1em;*/
	display: block;
    align-items: center;
    justify-content: space-between;
    margin: 125px auto;
    text-align: center;
	font-size: 0.9rem;
	letter-spacing: 0.07rem;
}

.immer_container_about_us{
  	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 0.8rem auto ;
	padding: 0.8rem 0.8rem 2rem 0.8rem;
	border-radius: 1rem;
	width: 75%;
}

.container_about_us h1{
	margin: 15px auto 25px auto;
  	text-align: center;
	width: 200px;
}

.container_about_us p{
    width: 90%;
	margin: 10px auto;
	text-align: justify;
}

.container_about_us img{
    width: 75%;
	margin: 10px auto;
	text-align: justify;
	border-radius: 1.68rem;
}

.container_about_us i:hover,
.logo i:hover{
	color: #bd0e0e;
	transition: all 1.2s ease;
}

/*results search song page*/

.results_search_song {
	display: flex;
	margin: 120px auto;
}
.card {
	margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(14rem,1fr));
    grid-auto-rows: 23rem;
    grid-gap: 1rem;
	text-align: center;
}
.immer_card {
	width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	padding: 1rem;
	border-radius: 25px;
}

.results_search_song img{
	margin: 0px auto;
	border-radius: 50%;
	width: 10rem;
}

.results_search_song h1{
	font-size: 1.38rem;
	text-align: center;
	margin-top: 0.68rem;

}
.results_search_song h2{
	font-size: 0.87rem;
	text-align: center;
	margin-bottom: 0.68rem;
}

.results_search_song a,
.results_search_song button{
	width: 7rem;
	margin: 0px auto;
  	background-color: #545454;
	line-height: 1.2rem;
	text-align: center;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	text-transform: uppercase;
	font-size: 0.48rem;
	letter-spacing: 1px;
	transition: all 0.3s ease;
	border-radius: 1rem;
	border: none;
}
.results_search_song button{
	line-height: 2.1rem;
	font-size: 0.67rem;
	width: 10rem;

}

.results_search_song a:hover,
.results_search_song button:hover{
	background-color: #e2bdc6;
}

/*Playlist*/

.h1_text h1{
	text-align: center;
	margin: 3rem auto;
}

.playlist {
	display: flex;
	margin: 0px auto;

}
.playlist_card {
	margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(19rem,1fr));
    grid-auto-rows: 5rem;
    grid-gap: 0.67rem;

}
.immer_playlist_card{
	/*width: 23rem;*/
    display: inline-flex;
	align-items: center;
    flex-direction: row;
    justify-content: space-between;
  	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	padding: 0.62rem;
	border-radius: 25px;
}

.playlist img{
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
}

.playlist_card h1{
	font-size: 1rem;
	text-align: center;

}
.playlist h2{
	font-size: 0.87rem;
	text-align: center;
}

.playlist a i{
	background-color: #545454;
	display: flex;
	justify-content: center;
	justify-items: center;
	height: 2.7rem;
	width: 2.7rem;
	text-align: center;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	font-size: 1rem;
	transition: all 0.3s ease;
	border-radius: 50%;
	border: none;
	line-height: 2.7rem;
}

.playlist a i:hover{
	background-color: #e2bdc6;
}



/*  search form  */

.search_song {
	margin: 6rem auto 0 auto;
    display: block;
    align-items: center;
    text-align: center;
}
.search_song h3 {
	font-size: 0.87rem;
	text-align: center;
	margin: 0.8rem 1rem 0rem 1rem;
}

.search_song{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	width: 34rem;
	border-radius: 15px;
}

.search_song form input{
	background: WHITE;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	height: 36px;
	width: 8rem;
    padding-left: 15px;
	font-size: 0.96rem;
	letter-spacing: 0.3px;
    border: None;
    border-radius: 25px;
    margin: 0.87rem 0.23rem;
}

.search_song form button{
	background: #545454;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	height: 36px;
	width: 8rem;
	font-size: 0.96rem;
	letter-spacing: 0.3px;
    border: None;
    border-radius: 25px;
    margin-bottom: 0.8rem;
	color: #fff;
	transition: all 0.3s ease;
}
.search_song form button:hover{
	background-color: #e2bdc6;
	color: #545454;
}

.search_song h2 {
	font-size: 1.23rem;
	text-align: center;
	margin: 0rem 1rem 1rem 1rem;
}


/*News*/

.h1_text_news h1{
	text-align: center;
	margin: 8rem auto 2rem auto;
}

.news {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 75%;
	text-align: justify;

}
.immer_news {
  	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 0.8rem;
	padding: 0.8rem;
	border-radius: 1rem;
	letter-spacing: 0.02rem;
}

.likes form {
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.likes form button{
	border-style: none;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: #efefef;
}

.likes form button i{
	font-size: 1rem;
	color: #bd0e0e;

}


.immer_news h2 {
	font-size: 1rem;
}


@media (max-width: 992px)
{
	.navbar{
		height: 100px;
		padding: 12px;
	}
	.navbar .inner_navbar{
		flex-direction: column;
	}
	.main_container{
		margin-top: 100px;
	}

	.card, .playlist_card{
    display: grid;
  	grid-template-columns: repeat(2, minmax(6rem,1fr));
}





@media (max-width: 728px) {
	.navbar {
		height: 60px;
	}

	.navbar .inner_navbar {
		flex-direction: row;
	}

	.main_container {
		margin-top: 60px;
	}

	.navbar .menu ul {
		position: absolute;
		top: 60px;
		left: 0;
		display: block;
		background: #090f1b;
		width: 100%;
	}

	.navbar .menu ul li {
		padding-bottom: 10px;
	}

	.navbar .menu ul li a {
		width: 100%;
		margin: 0px 0px;
		padding: 12px;
	}

	.navbar .hamburger {
		display: block;
		position: absolute;
		top: 15px;
		right: 25px;
		font-size: 24px;
		color: #fff;
		cursor: pointer;
		transition: all 0.2s ease;
	}

	.navbar .hamburger:hover {
		color: #fcbbc6;
	}

	.navbar .menu {
		display: none;
	}

	.navbar .menu.active {
		display: block;
	}
	.menu.active ul{
		background: #232323;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	.menu.active ul li,
	.menu.active .dropdown .dropdown_content{
		width: 12rem;
		margin: 0rem auto;
	}

	.menu.active .dropdown .dropdown_content a{
		width: 10rem;
		margin: 1rem auto;
	}

	.main_container .content .item_wrap {
		width: 100%;
	}

	.container_about_us img,
	.immer_container_about_us{
    	width: 85%;
		letter-spacing: 0.02rem;
	}

	.card, .playlist_card{
		display: grid;
		grid-template-columns: repeat(1, minmax(6rem, 1fr));
	}
	.search_song{
	width: 21rem;
	}
}
}
