/*h1, h2 {*/
/*    margin:0px;*/
/*    display: inline-block;*/
/*    padding:1em;*/
/*    vertical-align: top;*/
/*    font-family: georgia;*/
/*    font-size: 28px;*/
/*    line-height: 28px;*/
/*}*/


/*h2 {*/
/*  text-align:right;*/
/*  padding-right:2em;*/
/*  float:right;*/
/*}*/

/*body {*/
/*    background-color: #CC6699;*/
/*    font-family: sans-serif;*/
/*    color: #CCFFFF;*/
/*    border: 3px solid #A9A9A9;*/
/*    margin-top: 20px;*/
/*    padding: 30px;*/
/*}*/

/*nav ul {*/
/*  list-style-type: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  overflow: hidden;*/
/*  background-color: #A9A9A9;*/
/*}*/

/*nav ul li {*/
/*  display: inline-block;*/
/*  padding: 0 7px;*/
/*  float: left;*/

/*}*/

/*nav ul li a {*/
/*  display: block;*/
/*  text-align: center;*/
/*  padding: 14px 16px;*/
/*  text-decoration: none;*/
/*  color: #CCFFFF;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
}

body{
  	background-image:
	url(media/bachgroud_top.jpeg),
	url(media/bachgroud_middle.jpeg),
	url(media/bachgroud_botton.jpeg);
  	background-position: top 70px center , center center,bottom center;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 100% auto, 100% 100%, 100% auto;
  	background-color: #faf2f2;
	color: #545454;
	min-height: 900px;
}


/*Navbar*/
.navbar{
	width: 100%;
	height: 70px;
	background: #232323;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 1rem;
	opacity: 0.95;
	z-index: 100;
}

.navbar .inner_navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.navbar .hamburger{
	display: none;
}

.navbar .logo a{
	font-weight: 700;
	font-size: 22px;
	letter-spacing: 2px;
	color: #dedede;
}

.navbar .menu ul{
	display: flex;
}

.navbar .menu ul li a{
	width: 8rem;
	margin: 5px 5px;
	display: block;
	text-align: center;
	padding: 10px 1px;
	border-radius: 25px;
	color: #dedede;
	text-transform: uppercase;
	font-size: 0.72rem;
	transition: all 0.2s ease;
}



.navbar .menu ul li a:hover,
.navbar .menu ul li a.active{
	background: #e2bdc6;
}

.navbar .menu ul li:last-child:hover
{
	background: #232323;
}

li.dropdown{
	background-color: #676767;
	width: auto;
	height: 43px;
	text-align: center;
	border-radius: 25px;
	transition: all 0.4s ease;

}

.dropdown {
  	position: relative;
}

.dropdown_content {
  	display: none;
  	position: absolute;
  	z-index: 1;
	background: #232323;
	height: auto;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	text-align: left;
}


.dropdown:hover .dropdown_content {
  	display: block;
}
.main_container{
    display: block;
    align-items: center;
    margin: 30% auto;
    text-align: center;
	opacity: 0.85;
	z-index: 10;
}

/*home*/

.home{
    display: block;
    align-items: center;
    margin: 30% auto;
    text-align: center;

}

.home img{
	margin: 0 auto;
	width: 35%;
	opacity: 0.65;
	z-index: 20;
}

.inner_home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.inner_home h1{
	margin: 2rem 0;
}
.home .inner_home .countdown {
	display: flex;
	flex-direction: column;
	margin: 10rem 0 0 0;



}

.wedding_date {
	font-size: 4rem;
}

/* about_us */

.container_about_us{
  	/*display: grid;*/
  	/*grid-template-columns: repeat(2, 3fr);*/
  	/*grid-gap: 1em;*/
	display: block;
    align-items: center;
    justify-content: space-between;
    margin: 30% auto;
    text-align: center;
	font-size: 0.9rem;
	letter-spacing: 0.07rem;
}

.inner_container_about_us{
  	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 0.8rem auto ;
	padding: 0.8rem 0.8rem 2rem 0.8rem;
	border-radius: 1rem;
	width: 75%;
	max-width: 67rem;
	opacity: 0.85;
	z-index: 10;
}

.container_about_us h1{
	margin: 15px auto 25px auto;
  	text-align: center;
	width: 200px;
}

.container_about_us p{
    width: 90%;
	margin: 10px auto;
	text-align: justify;
}

.container_about_us img{
    width: 75%;
	max-width: 67rem;
	margin: 10px auto;
	text-align: justify;
	border-radius: 1.68rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	opacity: 0.85;
}

.container_about_us i:hover,
.logo i:hover{
	color: #bd0e0e;
	transition: all 1.2s ease;
}
/*gifts detail*/

.gifts_detail{
  	/*display: grid;*/
  	/*grid-template-columns: repeat(2, 3fr);*/
  	/*grid-gap: 1em;*/
	display: block;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
	font-size: 0.9rem;
	letter-spacing: 0.07rem;
}

.inner_gifts_detail{
  	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 0.8rem auto ;
	padding: 0.8rem 0.8rem 2rem 0.8rem;
	border-radius: 1rem;
	width: 75%;
	max-width: 46rem;
	opacity: 0.85;
	z-index: 10;
}
.inner_gifts_detail img{
	width: 65%;
	height: 65%;
	max-width: 67rem;
	margin: 10px auto;
	text-align: justify;
	border-radius: 1.68rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	opacity: 0.85;
}

.inner_gifts_detail h3{
	margin: 2rem 0 2rem 0;
}

.inner_gifts_detail p{
	text-align: justify;
	margin: 10px 20px 20px 20px;
}
p.message {
	text-align: center;
	font-size: 1.2rem;
}
.inner_gifts_detail a{
    margin: 15px auto;
    display: flex;
	text-align: center;
	font-size: 0.77rem;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    border: None;
    border-radius: 25px;
    transition: all 0.6s ease;
	background-color: #545454;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.inner_gifts_detail button{
    margin: 15px auto;
    display: flex;
	text-align: center;
	font-size: 0.77rem;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 120px;
    border: None;
    border-radius: 25px;
    transition: all 0.6s ease;
	background-color: #545454;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


/*results search song page*/

.results_search_song {
	display: flex;
	margin: 60px auto;
	opacity: 0.85;
}
.card {
	margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(14rem,1fr));
    grid-auto-rows: 23rem;
    grid-gap: 1rem;
	text-align: center;
}
.inner_card {
	width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	padding: 1rem;
	border-radius: 25px;
}

.results_search_song img{
	margin: 0px auto;
	border-radius: 50%;
	width: 10rem;
}

.results_search_song h1{
	font-size: 1.34rem;
	text-align: center;
	margin-top: 0.68rem;

}
.results_search_song h2{
	font-size: 0.87rem;
	text-align: center;
	margin-bottom: 0.68rem;
}

.results_search_song a,
.results_search_song button{
	width: 7rem;
	margin: 0px auto;
  	background-color: #545454;
	line-height: 1.2rem;
	text-align: center;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	text-transform: uppercase;
	font-size: 0.48rem;
	letter-spacing: 1px;
	transition: all 0.3s ease;
	border-radius: 1rem;
	border: none;
}
.results_search_song button{
	line-height: 2.1rem;
	font-size: 0.67rem;
	width: 10rem;

}

.results_search_song a:hover,
.results_search_song button:hover{
	background-color: #e2bdc6;
}

/*Playlist*/

.h1_text h1{
	text-align: center;
	margin: 3rem auto;
}

.playlist {
	display: flex;
	margin: 0 auto;
}


.playlist_card {
	margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(19rem,1fr));
    grid-auto-rows: 5rem;
    grid-gap: 0.67rem;
	opacity: 0.85;
}
.inner_playlist_card{
	/*width: 23rem;*/
    display: inline-flex;
	align-items: center;
    flex-direction: row;
    justify-content: space-between;
  	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	padding: 0.62rem;
	border-radius: 25px;
}

.playlist img{
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
}

.playlist_card h1{
	font-size: 1rem;
	text-align: center;

}
.playlist h2{
	font-size: 0.87rem;
	text-align: center;
}

.playlist a i{
	background-color: #545454;
	display: flex;
	justify-content: center;
	justify-items: center;
	height: 2.7rem;
	width: 2.7rem;
	text-align: center;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	font-size: 1rem;
	transition: all 0.3s ease;
	border-radius: 50%;
	border: none;
	line-height: 2.7rem;
}

.playlist a i:hover{
	background-color: #e2bdc6;
}


/*gifts*/

.h1_text_gifts h1{
	text-align: center;
	margin: 30% auto 4rem auto;
	opacity: 0.75;
}

.gifts {
	display: flex;
	margin: 0 auto;
	justify-content: center;
}


.gifts_card {
	margin: 0 23px;
    display: grid;
    grid-template-columns: repeat(1, minmax(19rem,1fr));
    grid-auto-rows: 5rem;
    grid-gap: 0.67rem;
	opacity: 0.85;
}

.inner_gifts_card{
	/*width: 23rem;*/
    display: inline-flex;
	align-items: center;
    flex-direction: row;
    justify-content: space-between;
  	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	padding: 0.62rem;
	border-radius: 25px;
}

.gifts_card img{
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
}

.gifts_card h1{
	font-size: 1rem;
	text-align: left;

}
.gifts_card h2{
	font-size: 0.8rem;
	text-align: left;
}

.gifts_card a {
	background-color: #545454;
	display: flex;
	justify-content: center;
	justify-items: center;
	height: 2.7rem;
	width: 2.7rem;
	text-align: center;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	font-size: 0.78rem;
	transition: all 0.3s ease;
	border-radius: 50%;
	border: none;
	line-height: 2.7rem;
}

.gifts_card a:hover{
	background-color: #e2bdc6;
}

/*  search form  */

.search_song {
	margin: 30% auto 0 auto;
    display: block;
    align-items: center;
    text-align: center;
}
.search_song h3 {
	font-size: 0.87rem;
	text-align: center;
	margin: 0.8rem 1rem 0rem 1rem;
}

.search_song{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	width: 34rem;
	border-radius: 15px;
	opacity: 0.85;
	z-index: 20;
}

.search_song form input{
	background: WHITE;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	height: 36px;
	width: 8rem;
    padding-left: 15px;
	font-size: 0.96rem;
	letter-spacing: 0.3px;
    border: None;
    border-radius: 25px;
    margin: 0.87rem 0.23rem;
}

.search_song form button{
	background: #545454;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	height: 36px;
	width: 8rem;
	font-size: 0.96rem;
	letter-spacing: 0.3px;
    border: None;
    border-radius: 25px;
    margin-bottom: 0.8rem;
	color: #fff;
	transition: all 0.3s ease;
}
.search_song form button:hover{
	background-color: #e2bdc6;
	color: #545454;
}

.search_song h2 {
	font-size: 1.23rem;
	text-align: center;
	margin: 0rem 1rem 1rem 1rem;
}

/*new message form*/
.new_message_form{
    display: flex;
    align-items: center;
    margin: 30% auto;
    text-align: center;
	opacity: 0.85;
	z-index: 10;
}

.inner_new_message_form{
    display: flex;
	flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.inner_new_message_form label{
    margin: 0.6rem auto 0.3rem auto;
}
.message_form{
    display: flex;
	flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.message_form input{
	background: WHITE;
	height: 36px;
    width: 9rem;
    padding-left: 15px;
	font-size: 0.96rem;
	letter-spacing: 1px;
    border: None;
    border-radius: 25px;
}

.message_form textarea{
	background: WHITE;
	height: 9rem;
    width: 22rem;
    padding: 8px 5px 5px 11px;
	font-size: 0.96rem;
	letter-spacing: 1px;
    border: None;
    border-radius: 15px;
	margin-bottom: 2rem;
}
/*invitation*/

.invitation{
	display: flex;
}

.invitation img{
	margin: 30% auto;
	width: 75%;
	border-radius: 3px;
	opacity: 0.85;
	z-index: 10;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*message*/
h2.h2_text_message{
	text-align: center;
	margin: 2rem auto 2rem auto;
	opacity: 0.85;
	z-index: 10;
	font-size: 1rem;
}

a.button_new_message,
.inner_new_message_form button{
	text-align: center;
	margin: 0rem auto 2rem auto;
	opacity: 0.85;
	z-index: 10;
    display: flex;
	font-size: 0.77rem;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 130px;
    border: None;
    border-radius: 25px;
    transition: all 0.6s ease;
	background-color: #545454;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}





/*News*/



.h1_text_news h1{
	text-align: center;
	margin: 30% auto 2rem auto;
	opacity: 0.85;
	z-index: 10;
}

.inner_news p{
	margin: 0.2rem 0;
}

.news {
	display: flex;
	flex-direction: column;
	margin: 0 auto 4rem auto;
	width: 75%;
	max-width: 60rem;
	text-align: justify;

}
.inner_news {
  	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 0.8rem;
	padding: 0.8rem;
	border-radius: 1rem;
	letter-spacing: 0.02rem;
	opacity: 0.85;
	z-index: 10;
}

.likes form {
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.likes form button{
	border-style: none;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: #efefef;
}

.likes form button i{
	font-size: 1rem;
	color: #bd0e0e;
	transition: all 0.3s ease;
}

.likes form button i:hover{
	font-size: 1.2rem;
	color: #bd0e0e;
}


.inner_news h2 {
	font-size: 1rem;
}

/*requests form*/
.requests_form{
 	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 30% auto ;
	padding: 0.8rem 0.8rem 2rem 0.8rem;
	border-radius: 1rem;
	width: 75%;
	max-width: 67rem;
	opacity: 0.85;
	z-index: 10;
}

.requests_form form ul li{
	text-align: center ;
}

.requests_form h2{
	margin: 1rem auto 1rem auto;
	font-size: 1.8rem;
	text-align: center;
}
.requests_form h3{
	margin: 0 auto 1rem auto;
	font-size: 1.2rem;
	text-align: center;
}

.inner_requests_form form p label{
	font-size: 1.2rem;
	height: 1.4rem;
}

#id_age{
	background: WHITE;
	width: 3.3rem;
	height: 1.85rem;
	padding-left: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	font-size: 0.96rem;
    border: None;
    border-radius: 1rem;
	align-items: center;
}

#id_hotel,
#id_kids,
#id_vegetarian_food,
#id_takeaway_to_restaurant,
#id_takeaway_to_home{
	width: 1.2rem;
	margin-right: 1rem;
}

.inner_requests_form form p {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
    margin: 1.13rem auto;
	text-align: left;
	width: 26rem;
}



/*foods_menu*/
.foods_menu_form{
	display: flex;
	flex-direction: column;
 	background-color: #ffecec;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 30% auto ;
	padding: 0.8rem 0.8rem 2rem 0.8rem;
	border-radius: 1rem;
	width: 75%;
	max-width: 67rem;
	opacity: 0.85;
	z-index: 20;
}

.foods_menu_form p {
	margin: 0 auto;
}

.inner_foods_menu_form{
	display: flex;
	justify-content: center;
}

.foods_menu_form h2{
	margin: 1rem auto 1rem auto;
	font-size: 1.8rem;
	text-align: center;
}
.foods_menu_form h3{
	margin: 1rem auto 1rem auto;
	font-size: 1.2rem;
	text-align: center;
}
.inner_foods_menu_form form label {
    display: flex;
	justify-content: flex-start;
	align-items: center;
    margin: 1.45rem auto ;
	text-align: left;
	font-size: 1rem;
	height: 1.8rem;
}

.inner_foods_menu_form form label input{
    margin: 1.9rem 0.67rem 1.9rem 0;
	width: 1rem;
	height: 1rem;
}



/* Text login */
.login_form h2 {
    text-align: center;
	font-size: 2rem;
}


/* form field */
.main_form p {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 200px;
}

/* description 'username and password' */
.main_form p label {
    padding: 5px 0 5px 5px;
    font-size: 0.8rem;
}

/* input field */
.main_container .login_form form p input{
	background: WHITE;
	height: 36px;
    width: 100%;
    padding-left: 15px;
	font-size: 0.96rem;
	letter-spacing: 1px;
    border: None;
    border-radius: 25px;
}

/* submit button */
.main_container .login_form form button,
.down_login_text a,
.inner_requests_form form button,
.foods_menu,
.inner_foods_menu_form form button{
    margin: 15px auto;
    display: flex;
	text-align: center;
	font-size: 0.77rem;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 100px;
    border: None;
    border-radius: 25px;
    transition: all 0.6s ease;
	background-color: #545454;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}




.main_container .login_form form button:hover{
	background-connr: #ffecec;
	color: #545454;
}

.inner_requests_form form button:hover,
.foods_menu:hover,
.inner_foods_menu_form form button:hover,
.inner_gifts_detail a:hover,
.inner_gifts_detail button:hover,
a.button_new_message:hover,
.inner_new_message_form button:hover{
	background-color: #e2bdc6;
	color: #545454;
}
.down_login_text p {
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down_login_text a {
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 90px;
    border: None;
    border-radius: 25px;
    transition: all 0.6s ease;
	background-color: #545454;
	color: #ffffff;
	font-size: 0.8rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.down_login_text a:hover{
	background-color: #ffecec;
	color: #545454;
}

.image img {
	width: 250px;
	border-radius: 50%;

}

@media (max-width: 992px)
{
	.navbar{
		height: 100px;
		padding: 12px;
	}
	.navbar .inner_navbar{
		flex-direction: column;
	}
	.main_container{
		margin-top: 100px;
	}

	.card, .playlist_card{
    display: grid;
  	grid-template-columns: repeat(2, minmax(6rem,1fr));
	}

	.main_container {
		margin: 140px auto;
	}


	.home img{
	width: 40%;
	}




@media (max-width: 728px) {
	body{
  	background-image:
	url(media/bachgroud_top.jpeg),
	url(media/bachgroud_middle.jpeg),
	url(media/bachgroud_botton.jpeg);
  	background-position: top 60px center , center center,bottom center;
	}

	.navbar {
		height: 60px;
	}

	.navbar .inner_navbar {
		flex-direction: row;
	}

	.main_container {
		margin: 100px auto;
	}

	.navbar .menu ul {
		position: absolute;
		top: 60px;
		left: 0;
		display: block;
		background: #090f1b;
		width: 100%;
	}

	.navbar .menu ul li {
		padding-bottom: 10px;
	}

	.navbar .menu ul li a {
		width: 100%;
		margin: 0px 0px;
		padding: 12px;
	}

	.navbar .hamburger {
		display: block;
		position: absolute;
		top: 15px;
		right: 25px;
		font-size: 24px;
		color: #fff;
		cursor: pointer;
		transition: all 0.2s ease;
	}

	.navbar .hamburger:hover {
		color: #fcbbc6;
	}

	.navbar .menu {
		display: none;
	}

	.navbar .menu.active {
		display: block;
	}
	.menu.active ul{
		background: #232323;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	.menu.active ul li,
	.menu.active .dropdown .dropdown_content{
		width: 12rem;
		margin: 0rem auto;
	}
	.inner_navbar ul {
		padding-bottom: 20px;
	}

	.menu.active .dropdown .dropdown_content a{
		width: 10rem;
		margin: 1rem auto;
	}

	li.dropdown{
	background-color: #676767;
	width: auto;
	height: 38px;
	text-align: center;
	border-radius: 25px;
}


	.main_container .content .item_wrap {
		width: 100%;
	}

	.container_about_us img,
	.inner_container_about_us,
	.inner_gifts_detail{
    	width: 85%;
		letter-spacing: 0.02rem;
	}

	.card, .playlist_card{
		display: grid;
		grid-template-columns: repeat(1, minmax(6rem, 1fr));
	}

	.gifts_card{
		display: grid;
		grid-template-columns: repeat(1, minmax(6rem, 1fr));
	}
	.search_song{
	width: 21rem;
	}
	.inner_requests_form form p label,
	.inner_foods_menu_form form label{
		font-size: 0.93rem;
		height: 1.4rem;
	}
	.inner_requests_form form p{
		width: 20rem;
	}

	#id_hotel,
	#id_kids,
	#id_vegetarian_food,
	#id_takeaway_to_restaurant,
	#id_takeaway_to_home{
		width: 1rem;
	}


	.requests_form,
	.foods_menu_form,
	.invitation img{
		width: 85%;
	}

	.inner_foods_menu_form form label input{
    margin: 1.9rem 0.43rem 1.9rem 0;
	width: 0.8rem;
	height: 0.8rem;
	}

	.home img{
	width: 60%;
	}
}
}
