{% extends 'base.html' %}

{% block title %}{{ login }}{% endblock %}

{% block content %}
    <div class="main_container">
    <div class="login_form">
        <h2>Přihlášení</h2>
        <form method="post">
            {% csrf_token %}
            <div class="main_form">
             <label for="{{ form.username.id_for_label }}">Uživatelské jméno:</label>
                                {{ form.username }}
            <label for="{{ form.password.id_for_label }}">Heslo:</label>
                                {{ form.password }}
            </div>
            <button type="submit">Přihlášení</button>
        </form>
        <div class="down_login_text">
            <p>Ještě nemáš učet?</p>
            <p>tak přejdi na:</p>
            <a href="{% url 'verify_username' %}">Registraci</a>
        </div>
    </div>
    </div>
{% endblock %}