{% extends 'base.html' %}

{% block title %}Svatební dar{% endblock %}

{% block content %}

<div class="h1_text_gifts"><h1>Detail svatebního daru</h1></div>

<div class="gifts_detail">
    <div class="immer_gifts_detail">
        <h3>{{ gift.name }}</h3>
        <img src="{{ gift.image_url }}" alt="image_description"/>
        <p>{{ gift.description }}</p>
        {% if not gift.selected %}
            <form method="post" action="{% url 'gift-select' gift.id %}">
                {% csrf_token %}
                <button type="submit">Vybrat tento dar</button>
            </form>
        {% else %}
            <p class="message">Tento dar byl již vybrán.</p>
        {% endif %}
        <a href="{{ gift.link }}">link</a>
        <a href="{% url 'gifts'  %}">Zpět</a>
    </div>
</div>
{% endblock %}
