{% load static %}
<div class="wrapper">
    <div class="navbar">
        <div class="inner_navbar">
            <div class="logo">
                <a href="{% url 'home' %}">Veronika & Josef <i class="fas fa-heart"></i></a>
            </div>
                <div class="menu">
                <!--<nav>-->
                    <ul>
                        <li><a href="{% url 'about_us' %}">O nás</a></li>
                        <li><a href="{% url 'about_wedding' %}">O svatbě</a></li>
                        <li><a href="{% url 'news' %}">Aktuality</a></li>
                        <li><a href="{% url 'messages' %}">Svatební vzkazy</a></li>
                        <li><a href="{% url 'invitation' %}">Svatební oznámení</a></li>
                        <!-- <li><a href="{% url 'verify_username' %}">Registrace hosta</a></li>-->
                        {% if request.user.is_authenticated %}
                            <li class="dropdown"><a href="">Zóna hostů</a>
                                <div class="dropdown_content">
                                    <a href="{% url 'requests_form' %}">Svatební dotazník</a>
                                    <a href="{% url 'set_your_menu' %}">Svatební menu</a>
                                    <a href="{% url 'gifts' %}">Svatební dárky</a>
                                    <a href="{% url 'playlist' %}">Playlist</a>
                                    <a href="{% url 'logout' %}">Odhlášení</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="dropdown"><a href="">Zóna hostů</a>
                                <div class="dropdown_content">
                                    <a href="{% url 'verify_username' %}">Ověření hosta</a>
                                    <a href="{% url 'login' %}">Přihlášení</a>
                                </div>
                            </li>
                        {% endif %}
{#                        {% if request.user.is_authenticated %}#}
{#                            <li class="dropdown"><a href="{% url 'playlist' %}">Playlist</a>#}
{#                                <div class="dropdown_content">#}
{#                                    <a href="#">Podpoložka 1</a>#}
{#                                    <a href="#">Podpoložka 2</a>#}
{#                                </div>#}
{#                            </li>#}
{#                        {% endif %}#}
                    </ul>
                <!--</nav>-->
                </div>
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
    </div>
</div>