{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="main_container">
    <h2>Zvolte si své svatební menu</h2>

        <div class="main_container">
            <h2>Váš předkrm</h2>
            <p>{{ vege_meal1 }}</p>
            <h2>Vaše polévka</h2>
            <p>{{ vege_meal2 }}</p>
            <h2>Váš hlavní chod</h2>
            <p>{{ vege_meal3 }}</p>

            <form method="POST">
            {% csrf_token %}
                <h2>Zvolte si přípitek</h2>
            {{ form_1.as_p }}
            <input type="hidden" name="form_number" value="1">
                 <h2>Zvolte si pití k hlavnímu chodu</h2>
            {{ form_2.as_p }}
            <input type="hidden" name="form_number" value="1">
            <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}