{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="foods_menu_form">
        <h2>Zvolte si své svatební menu</h2>
        <h3>Tvůj předkrm</h3>
        <p>{{ vege_meal1 }}</p>
        <h3>Tvoje polévka</h3>
        <p>{{ vege_meal2 }}</p>
        <h3>Tvůj hlavní chod</h3>
        <p>{{ vege_meal3 }}</p>
        <h3>Tvůj přípitek</h3>
        <p>{{ child_drink1 }}</p>
        <div class="inner_foods_menu_form">
            <form method="POST">
                {% csrf_token %}
                <h3>Zvol si pití k hlavnímu chodu</h3>
                {{ form_1.as_p }}
                <input type="hidden" name="form_number" value="1">
                <button type="submit">Odeslat</button>
            </form>
        </div>
    </div>
{% endblock %}