{% extends 'base.html' %}

{% block title %}{{ SignUp }}{% endblock %}

{% block content %}

<div class="main_container">
    <div class="login_form">
    <h2>Verifikace svatebního hosta</h2>
    <form method="post">
        {% csrf_token %}
        <div class="main_form"> {{ form.as_p }} </div>
        <button type="submit">Verifikace</button>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> {{ form.errors.username }}
        </div>
        </div>
    </div>
    {% endif %}

{% endblock %}